extends ../layouts/application.pug

block header
  = t('views.statuses.edit.header')

block content
  +formFor()(action=`/statuses/${status.id}` method='post')
    +input(status, 'name', t('views.statuses.name'), errors)(type="text")
    input(name="_method" type="hidden" value="patch")
    +submit(status)(value=t('views.statuses.edit.submit'))