extends ../layouts/application.pug

block header
  = t('views.labels.new.header')

block content
  +formFor()(action=route('createLabel') method='post')
    +input(label, 'name', t('views.labels.name'), errors)(type="text")
    +submit(label)(value=t('views.labels.new.submit'))
